@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* Hide scrollbar but still allow scrolling */
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;      /* Firefox */
  }
}
